@import '../../mq';

@media #{$tabletLandscape} {
  @import '../desktop';

  .xl-none {
    display: none;
  }

  .schedule-row {
    overflow-x: auto;
    width: 100%;
  }

  .materials {
    &-list {
      li {
        max-width: calc(50% - 8px);
      }
    }
  }

  .section {
    padding: 80px 0;
  }
}