@import '../../mq';

@media #{$tabletPortrait} {
  @import '../mobile';

  & {
    .materials {
      h2 {
        font-size: 24px;
      }
      &-list {
        gap: 16px;
        li {
          max-width: calc(50% - 8px);
        }
      }
    }

    .assistance-manager {
      margin-left: auto;
      max-width: 560px;
      margin-right: auto;
    }
  }
}
